.buttonClass {
  width: 178.41px;
  height: 38.84px;
  background: #38a0d8;
  box-shadow: 0px 4.8546px 4.8546px rgba(0, 0, 0, 0.25);
  border-radius: 10.9228px;
  border: none;
  color: white;
  margin-top: 20px;
}
