.inputSearchCityClass {
  width: 409px;
  height: 38px;
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.726);
  border-radius: 10.9228px;
  border: none;
  padding: 12px 0px 12px 40px;
  font-size: 15px;
  outline: none;
}
.inputSearchCityLightClass {
  background-color: #52b5e8;
}
.inputSearchCityDarkClass {
  background-color: #201f3c;
}
